@font-face
{
	
	font-family: AAfont;
	src: url(/judge/font/mona.eot);
}
@font-face
{
	
	font-family: testdata;
	src: url(/judge/font/Inconsolata.eot);
}
@font-face
{
	font-family: 'Klavika Bold';
	src: url(/judge/font/Klavika.eot);
}
